<div class="container-fluid">
    <div class=" row  bg-secondary p-md-5 p-3 text-light ">
        <div class="col-md-4 mt-1">
            <h3 class="mb-4"><i class="fa-brands fa-slack fa-beat-fade me-2 fa-xl"></i>WishMart</h3>
            <p style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam laborum mollitia fugiat inventore sed numquam quos eligendi assumenda iste possimus
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 mt-5 mt-md-1">
            <h4>Links</h4>
            <p class="mt-4"><a routerLink="/" style="text-decoration: none" class="text-light">Home</a></p>
            <p><a routerLink="/wishList" style="text-decoration: none" class="text-light">WishList</a></p>
            <p><a routerLink="/cart" style="text-decoration: none" class="text-light">Cart</a></p>
        </div>
        <div class="col-md-2 mt-5 mt-md-1">
            <h4>Assistance</h4>
            <p class="mt-4"><a routerLink="/" style="text-decoration: none" class="text-light">Angular</a></p>
            <p><a routerLink="/wishList" style="text-decoration: none" class="text-light">Bootstrap</a></p>
            <p><a routerLink="/cart" style="text-decoration: none" class="text-light">FontAwesome</a></p>
        
        </div>
        <div class="col-md-3 mt-5 mt-md-1">
            <h4>Contact Us</h4>
            <form action="" class="d-flex mt-4">
                <input type="text" placeholder="Email Id" class="form-control me-2">
                <button class="btn btn-danger">Subscribe</button>
            </form>
            <div class="mt-5 d-flex justify-content-between">
                <i class="fa-brands fa-facebook fa-xl"></i>
                <i class="fa-brands fa-instagram fa-xl"></i>
                <i class="fa-brands fa-x-twitter fa-xl"></i>
                <i class="fa-brands fa-linkedin fa-xl"></i>
            </div>
    
    
        </div>
    
    </div>
</div>