<app-header></app-header>

<div *ngIf="cartArray.length > 0" class="row w-100 my-5 pt-5">
    <h3 class="text-center text-info mb-5"><b>Cart</b></h3>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <table class="table rounded table-bordered shadow ">
            <thead >
                <tr>
                     <th class="bg-secondary text-light">#</th>
                    <th class="bg-secondary text-light">Title</th>
                    <th class="bg-secondary text-light">Image</th>
                    <th class="bg-secondary text-light">Quantity</th>
                    <th class="bg-secondary text-light">Price</th>
                    <th class="bg-secondary text-light">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartArray let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.title}}</td>
                    <td class="d-flex align-items-center justify-content-center ">
                        <img [src]="item.image" alt=" no image" width="150px" height="150px">
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button class="btn fw-bolder fs-4 " (click)="decrementItem(item._id)">-</button>
                            <input type="text" class="form-control w-25" [value]="item.Quantity" readonly>
                            <button class="btn fw-bolder fs-4" (click)="incrementItem(item._id)">+</button>
                        </div>
                    </td>
                    <td>
                        $ {{item.grandTotal}}
                    </td>
                    <td>
                        <button (click)="removeItem(item._id)" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex mt- justify-content-center">
            <button class="btn btn-outline-danger" (click)="emptyCart()"> Empty Cart</button>
            <a routerLink="/">
                <button class="btn btn-outline-success ms-4"> Add More Item</button>
    
            </a>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center ">
        <div class="border shadow  p-5">
            <h3>Cart Summary</h3>
            <h5>Total Number of Items :{{cartArray.lenghth}}</h5>
            <h5>Grand Total : {{total}}</h5>
            <button class="btn btn-success w-100 mt-3"  (click)="checkout()">CheckOut</button>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div *ngIf="cartArray.length == 0" class="row" style="overflow-x: hidden;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="w-100" style="width: 100%; height: 70vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">
            <img src="https://cdn.dribbble.com/users/5107895/screenshots/14532312/media/a7e6c2e9333d0989e3a54c95dd8321d7.gif" alt="No Image" height="190vh">
            <h4 class="text-center text-warning">Oops...! Your Cart is Empty</h4>
        
<a  routerLink="/">
                <button class="btn btn-success mt-3"> <i class="fa-solid fa-arrow-left me-2"></i>Back Home</button>
    
</a>        </div>
    </div>
    <div class="col-md-4"></div>
</div>

